<!doctype html>
<html>
	<head>
		<title>Node Authentication</title>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width initial-scale=1.0'>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
		<style type="text/css">
			body {
				padding-top: 70px;
			}
		</style>
	</head>

	<body>
		<div class='container'>
			<div class='jumbotron text-center'>
                <h1><span class='fa fa-lock'></span> Node Authentication</h1>
                <p>Login or Register with: </p>
                <a href='/login' class='btn btn-default'><span class='fa fa-user'></span> Local Login</a>
                <a href='/signup' class='btn btn-default'><span class='fa fa-user'></span> Local SignUp</a>
            </div>
		</div>	
	</body>
</html>