<!doctype html>
<html>
	<head>
		<title>Node Authentication</title>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width initial-scale=1.0'>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
		<style type="text/css">
			body {
				padding-top: 70px;
			}
		</style>
	</head>

	<body>
		<div class='container'>
            <div class='page-header text-center'>
                <h1><span class='fa fa-anchor'></span> Profile Page</h1>
                <a href='/logout' class="btn btn-default btn-sm">Logout</a>
            </div>
            <div class='row'>
                <div class='col-sm-6'>
                    <div class='well'>
                        <h3><span class='fa fa-user'></span> Local</h3>
                        <p>
                            <strong>id: </strong><%= user._id %><br>
                            <strong>email: </strong><%= user.local.email %><br>
                            <strong>password: </strong><%= user.local.password %>
                        </p>
                    </div>
                </div>
            </div>
		</div>	
	</body>
</html>